<template>
    <div>
        <component :is="layout">
            <router-view></router-view>
        </component>
    </div>
</template>

<script>
import Default from "./layouts/Default";
import SideBar from "./layouts/SideBar";

export default {
    components: {
        Default,
        SideBar
    },
    computed: {
        layout() {
            return this.$route.meta.layout;
        }
    }
};
</script>