/* Dev Faza */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

:root {
    --kuning: #eab630;
    --biru: #374774;
    --hijau: #98dcaf;
}

.bg-kuning {
    background-color: var(--kuning) !important;
}
.bg-hijau {
    background-color: var(--hijau) !important;
}
.bg-hijau-t {
    background-color: var(--hijau) !important;
    opacity: 0.3;
}
.bg-biru {
    background-color: var(--biru) !important;
}
.img-logo {
    height: 50px;
    width: auto;
    object-fit: fill;
    background-size: cover;
    border: none;
    background: no-repeat center center scroll;
    box-shadow: 1px 1px 5px whitesmoke;
}

.nav-text {
    color: #245c36 !important;
}
.nav-text:hover {
    color: #3f5c49 !important;
}

.btn-kuning {
    background-color: var(--kuning) !important;
    color: black !important;
}
.btn-hijau {
    background-color: var(--hijau) !important;
    border-color: #80ca9e;
    color: black !important;
}
.btn-hijau:hover {
    background-color: #80ca9e !important;
    border-color: var(--hijau);
    color: black !important;
}
.btn-biru {
    background-color: var(--biru) !important;
    color: white !important;
}
.text-kuning {
    color: var(--kuning) !important;
}
.text-biru {
    color: var(--biru) !important;
}
.text-hijau {
    color: var(--hijau) !important;
}

.row-card .card {
    height: 250px;
    margin-bottom: 3em;
}

.img-profile {
    width: 100%;
    position: relative;
    padding-top: 100%;
}

.profile {
    width: 100%;
    padding-bottom: 75%;
}

.img-galeri {
    object-fit: cover;
    background-size: cover;
    background: no-repeat center center scroll;
    /* min-width: 350px;
  max-width: 350px;
  min-height: 250px;
  max-height: 250px; */
}
.carousel-item {
    background: transparent;
    overflow: hidden;
    background-color: #202020;
    color: #101010;
}
.carousel-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    min-height: 500px;
    max-height: 500px;
    opacity: 0.1;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all 1s ease-in;
}
.carousel-inner:hover .carousel-item .carousel-img {
    animation-duration: 50;
    transform: scale(1.1);
    opacity: 0.5;
}

.video-box {
    border: none;
    height: 95%;
    object-fit: fill;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.float {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 50px;
    right: 70px;
    /* background-color: white; */
    color: #fff;
    /* border: 10px solid; */
    /* border-color: var(--biru); */
    /* border-radius:50px; */
    text-align: center;
    transition: all 0.8s ease-out;
    transform: scale(1);
}

.float:hover {
    transition: all 0.8s ease-out;
    transform: scale(1.1);
}

.img-md {
    width: 500px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
    background: no-repeat center center scroll;
}

.img-maskot {
    width: inherit;
    height: auto;
    background-size: cover;
    background: no-repeat center center scroll;
}

.float .info {
    position: fixed;
    top: 88px;
    width: 100px;
    text-shadow: gray;
    text-align: center;
    font-size: 14px;
    color: orangered;
    border-top: 1px solid;
    border-color: black;
    font-weight: 900;
}

.my-float {
    margin-top: 22px;
}

.action {
    display: none;
    transition: all 1s ease-in-out;
}

.toggle-edit:hover {
    /*position: absolute;*/
    background-color: #fff;
    /*height: 500px;*/
    width: 100%;
}

.hide-when-hover {
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.toggle-edit:hover .hide-when-hover {
    opacity: 0.2 !important;
}

.toggle-edit-aplikasi:hover .hide-when-hover-aplikasi {
    opacity: 0.2 !important;
}

.toggle-edit:hover .action {
    opacity: 0.9;
    background-color: var(--biru);
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: 100%;
}

.toggle-edit:hover .btn {
    font-size: 18px;
    display: flex;
    justify-content: center;
    vertical-align: center;
    /*color: #fff;*/
}

.toggle-edit:hover .btn:hover {
    color: #fff !important;
}

.card-produk {
    box-shadow: none !important;
}

.edit-action {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.form-control.leaflet {
    font-size: 12px;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    width: 300px;
    font-size: 12px;
}

.toggle-edit-aplikasi:hover {
    /* position: absolute; */
    background-color: #fff;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.action-aplikasi {
    display: none;
}

.toggle-edit-aplikasi:hover .action-aplikasi {
    position: absolute;
    display: flex;
    /* top: -95%; */
    z-index: 1;
    /* margin-top: -60px; */
    /* margin-left: 90px; */
    /* top: 100px; */
    /* width: calc(100% - 22%); */
    /*/* height: 100%;*/
}

.hover-trigger:hover .show-when-hover {
    display: inline-block;
}

.show-when-hover {
    display: none;
}

.profile-image-table {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.submenu.show {
    display: block !important;
}

.valign-center {
    align-items: center;
    vertical-align: middle;
}

/* Berita style */
.b-0 {
    bottom: 0;
}
.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(179, 171, 171, 0)),
        color-stop(49%, rgba(48, 48, 48, 0.37)),
        color-stop(100%, rgba(19, 19, 19, 0.8))
    );
    background: linear-gradient(
        to bottom,
        rgba(179, 171, 171, 0) 0%,
        rgba(48, 48, 48, 0.71) 49%,
        rgba(19, 19, 19, 0.8) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}
.overflow {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: all 0.2s linear;
}
.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.user-sidebar {
    border: black !important;
    border-bottom: 1px black !important;
}
.brand-sidebar {
    border: black !important;
    border-bottom: 1px black !important;
}

.brand-wrapper {
    padding-bottom: 5px;
    border-bottom: rgba(192, 192, 192, 0.9);
}
.logo-box {
    display: inline;
    width: auto;
    margin-right: 5px;
}
.appname-box {
    width: 250px;
    word-wrap: break-word;
    display: inline;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    color: #fff;
    text-shadow: 1xp 1px 5px whitesmoke;
}
.appname-box a {
    font-weight: 600;
}

.carousel-berita {
    height: 360px;
}
.berita-img {
    height: 354px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background: no-repeat center center scroll;
}

.thumbnail-img {
    height: 175px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background: no-repeat center center space;
}

.img-login {
    width: auto;
    height: 50px;
    border-radius: 50%;
}

.thumbnail-img:hover {
    overflow: hidden;
}

.brand-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-text {
    white-space: normal;
    text-align: center;
    font-size: 0.85rem;
    opacity: 1;

    transition: all 250ms ease !important;
}

.sidebar-mini.sidebar-collapse .brand-text {
    font-size: 0;
    opacity: 0;
}

.bootstrap-select button {
    border: 1px solid #ced4da !important;
    background-color: #fff !important;
}

/*!
 * jQuery SmartWizard v5
 * jQuery Wizard Plugin
 * http://www.techlaboratory.net/smartwizard
 *
 * Created by Dipu Raj
 * http://dipu.me
 *
 * Licensed under the terms of MIT License
 * https://github.com/techlab/jquery-smartwizard/blob/master/LICENSE
 */
.sw {
    position: relative;
}
.sw *,
.sw ::after,
.sw ::before {
    box-sizing: border-box;
}
.sw > .tab-content {
    position: relative;
    overflow: hidden;
}
.sw .toolbar {
    padding: 0.8rem;
}
.sw .toolbar > .btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    cursor: pointer;
}
.sw .toolbar > .btn.disabled,
.sw .toolbar > .btn:disabled {
    opacity: 0.65;
}
.sw > .nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
@media screen and (max-width: 640px) {
    .sw > .nav {
        flex-direction: column !important;
        flex: 1 auto;
    }
}
.sw > .nav .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.sw > .nav .nav-link:active,
.sw > .nav .nav-link:focus,
.sw > .nav .nav-link:hover {
    text-decoration: none;
}
.sw > .nav .nav-link::-moz-focus-inner {
    border: 0 !important;
}
.sw > .nav .nav-link.disabled {
    color: #ccc !important;
    pointer-events: none;
    cursor: default;
}
.sw > .nav .nav-link.hidden {
    display: none !important;
}
.sw.sw-justified > .nav .nav-link,
.sw.sw-justified > .nav > li {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}
.sw.sw-dark {
    color: rgba(255, 255, 255, 0.95);
    background: #000;
}
.sw.sw-loading {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sw.sw-loading::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;
    transition: all 0.2s ease;
}
.sw.sw-loading::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 2rem;
    height: 2rem;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    z-index: 10;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sw-theme-default {
    border: none;
}
.sw-theme-default > .tab-content > .tab-pane {
    padding: 10px;
}
.sw-theme-default .toolbar > .btn {
    color: #fff;
    background-color: #98dcaf;
    border: 1px solid #98dcaf;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    font-weight: 400;
}
.sw-theme-default > .nav {
    /* box-shadow:0 .125rem .25rem rgba(0,0,0,.1)!important; */
}

.sw-theme-default > .nav .nav-link {
    position: relative;
    height: 100%;
    min-height: 100%;
}
.sw-theme-default > .nav .nav-link::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    background: #999;
    transition: all 0.35s ease 0.15s;
}
.sw-theme-default > .nav .nav-link.inactive {
    color: #999;
    cursor: not-allowed;
}
.sw-theme-default > .nav .nav-link.active {
    color: #17a2b8 !important;
    cursor: pointer;
}
.sw-theme-default > .nav .nav-link.active::after {
    background: #17a2b8 !important;
    width: 100%;
}
.sw-theme-default > .nav .nav-link.done {
    color: #5cb85c !important;
    cursor: pointer;
}
.sw-theme-default > .nav .nav-link.done::after {
    background: #5cb85c;
    width: 100%;
}
.sw-theme-default > .nav .nav-link.disabled {
    color: #ddd !important;
    cursor: not-allowed;
}
.sw-theme-default > .nav .nav-link.disabled::after {
    background: #ddd;
    width: 100%;
}
.sw-theme-default > .nav .nav-link.danger {
    color: #d9534f !important;
    cursor: pointer;
}
.sw-theme-default > .nav .nav-link.danger::after {
    background: #d9534f;
    width: 100%;
}
.sw-theme-arrows {
    border: 1px solid #eee;
}
.sw-theme-arrows > .tab-content > .tab-pane {
    padding: 10px;
}
.sw-theme-arrows .toolbar > .btn {
    color: #fff;
    background-color: #98dcaf;
    border: 1px solid #98dcaf;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    font-weight: 400;
}
.sw-theme-arrows > .nav {
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.sw-theme-arrows > .nav .nav-link {
    position: relative;
    height: 100%;
    min-height: 100%;
    margin-right: 30px;
    margin-left: -30px;
    padding-left: 40px;
}
@media screen and (max-width: 640px) {
    .sw-theme-arrows > .nav .nav-link {
        overflow: hidden;
        margin-bottom: 1px;
        margin-right: unset;
    }
}
.sw-theme-arrows > .nav .nav-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    margin-top: -50px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #f8f8f8;
    z-index: 2;
}
.sw-theme-arrows > .nav .nav-link::before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    margin-top: -50px;
    margin-left: 1px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #eee;
    z-index: 1;
}
.sw-theme-arrows > .nav .nav-link.inactive {
    color: #999;
    border-color: #f8f8f8;
    background: #f8f8f8;
    cursor: not-allowed;
}
.sw-theme-arrows > .nav .nav-link.active {
    color: #fff;
    border-color: #5bc0de;
    background: #5bc0de;
    cursor: pointer;
}
.sw-theme-arrows > .nav .nav-link.active::after {
    border-left-color: #5bc0de;
}
.sw-theme-arrows > .nav .nav-link.done {
    color: #fff;
    border-color: #5cb85c;
    background: #5cb85c;
    cursor: pointer;
}
.sw-theme-arrows > .nav .nav-link.done::after {
    border-left-color: #5cb85c;
}
.sw-theme-arrows > .nav .nav-link.disabled {
    color: #eee;
    border-color: #f9f9f9;
    background: #f9f9f9;
    cursor: not-allowed;
}
.sw-theme-arrows > .nav .nav-link.disabled::after {
    border-left-color: #f9f9f9;
}
.sw-theme-arrows > .nav .nav-link.danger {
    color: #fff;
    border-color: #d9534f;
    background: #d9534f;
    cursor: pointer;
}
.sw-theme-arrows > .nav .nav-link.danger::after {
    border-left-color: #d9534f;
}
.sw-theme-arrows.sw-dark {
    color: rgba(255, 255, 255, 0.95);
    background: #000;
}
.sw-theme-arrows.sw-dark > .nav {
    border-bottom: 1px solid #555;
}
.sw-theme-arrows.sw-dark > .nav .nav-link::after {
    border-left: 30px solid #5f5f5f;
}
.sw-theme-arrows.sw-dark > .nav .nav-link::before {
    border-left: 30px solid #555;
}
.sw-theme-arrows.sw-dark > .nav .nav-link.inactive {
    color: #fff;
    border-color: #5f5f5f;
    background: #5f5f5f;
}
.sw-theme-arrows.sw-dark > .nav .nav-link.inactive::after {
    border-left-color: #5f5f5f;
}
.sw-theme-arrows.sw-dark > .nav .nav-link.active {
    color: #fff;
    border-color: #010506;
    background: #0a2730;
}
.sw-theme-arrows.sw-dark > .nav .nav-link.active::after {
    border-left-color: #0a2730;
}
.sw-theme-arrows.sw-dark > .nav .nav-link.done {
    color: #fff;
    border-color: #000;
    background: #000;
}
.sw-theme-arrows.sw-dark > .nav .nav-link.done::after {
    border-left-color: #000;
}
.sw-theme-arrows.sw-dark > .nav .nav-link.disabled {
    color: #555 !important;
    border-color: #f9f9f9;
    background: #474747;
}
.sw-theme-arrows.sw-dark > .nav .nav-link.disabled::after {
    border-left-color: #474747;
}
.sw-theme-arrows.sw-dark > .nav .nav-link.danger {
    color: #fff;
    border-color: #d9534f;
    background: #d9534f;
}
.sw-theme-arrows.sw-dark > .nav .nav-link.danger::after {
    border-left-color: #d9534f;
}
.sw-theme-dots > .tab-content > .tab-pane {
    padding: 10px;
}
.sw-theme-dots .toolbar > .btn {
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    font-weight: 400;
}
.sw-theme-dots > .nav {
    position: relative;
    margin-bottom: 10px;
}
.sw-theme-dots > .nav::before {
    content: " ";
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #eee;
    border-radius: 3px;
    z-index: 1;
}
.sw-theme-dots > .nav .nav-link {
    position: relative;
    margin-top: 40px;
}
.sw-theme-dots > .nav .nav-link::before {
    content: " ";
    position: absolute;
    display: block;
    top: -36px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: #f5f5f5;
    color: #428bca;
    text-decoration: none;
    z-index: 98;
}
.sw-theme-dots > .nav .nav-link::after {
    content: " ";
    position: absolute;
    display: block;
    top: -28px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 99;
}
.sw-theme-dots > .nav .nav-link.inactive {
    color: #999;
    cursor: not-allowed;
}
.sw-theme-dots > .nav .nav-link.inactive::after {
    background-color: #999;
}
.sw-theme-dots > .nav .nav-link.active {
    color: #5bc0de !important;
    cursor: pointer;
}
.sw-theme-dots > .nav .nav-link.active::after {
    background-color: #5bc0de !important;
}
.sw-theme-dots > .nav .nav-link.done {
    color: #5cb85c;
    cursor: pointer;
}
.sw-theme-dots > .nav .nav-link.done::after {
    background-color: #5cb85c;
}
.sw-theme-dots > .nav .nav-link.disabled {
    color: #f9f9f9;
    cursor: not-allowed;
}
.sw-theme-dots > .nav .nav-link.disabled::after {
    background-color: #f9f9f9;
}
.sw-theme-dots > .nav .nav-link.danger {
    color: #d9534f;
    cursor: pointer;
}
.sw-theme-dots > .nav .nav-link.danger::after {
    background-color: #d9534f;
}
.sw-theme-dots.sw-dark {
    color: rgba(255, 255, 255, 0.95);
    background: #000;
}
.sw-theme-dots.sw-dark > .nav::before {
    background-color: #3c3c3c;
}
.sw-theme-dots.sw-dark > .nav .nav-link::before {
    background: #434343;
    color: #000;
}
.sw-theme-progress {
    border: 1px solid #eee;
}
.sw-theme-progress > .tab-content > .tab-pane {
    padding: 10px;
}
.sw-theme-progress .toolbar > .btn {
    color: #fff;
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    font-weight: 400;
}
.sw-theme-progress > .nav {
    /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important; */
}
.sw-theme-progress > .nav .nav-link {
    position: relative;
    height: 100%;
    min-height: 100%;
    background: 0 0;
    overflow: hidden;
    z-index: 2;
}
.sw-theme-progress > .nav .nav-link::after {
    content: "";
    position: absolute;
    height: 150%;
    width: 0;
    left: 0;
    top: 0;
    background: #fff;
    z-index: -1;
    transition: all 0.35s ease 0.1s;
}
.sw-theme-progress > .nav .nav-link.inactive {
    color: #999;
    cursor: not-allowed;
}
.sw-theme-progress > .nav .nav-link.active {
    color: #fff !important;
    cursor: pointer;
}
.sw-theme-progress > .nav .nav-link.active::after {
    background-color: #5cb85c;
    width: 100%;
}
.sw-theme-progress > .nav .nav-link.done {
    color: #fff !important;
    cursor: pointer;
}
.sw-theme-progress > .nav .nav-link.done::after {
    background: #5cb85c;
    width: 100%;
}
.sw-theme-progress > .nav .nav-link.disabled {
    color: #ddd !important;
    cursor: not-allowed;
}
.sw-theme-progress > .nav .nav-link.disabled::after {
    background: #f9f9f9;
    width: 100%;
}
.sw-theme-progress > .nav .nav-link.danger {
    color: #fff !important;
    cursor: pointer;
}
.sw-theme-progress > .nav .nav-link.danger::after {
    background: #d9534f;
    width: 100%;
}
.sw-theme-progress.sw-dark {
    color: rgba(255, 255, 255, 0.95);
}
.sw-theme-progress.sw-dark > .nav .nav-link.active {
    color: #fff;
}
.sw-theme-progress.sw-dark > .nav .nav-link.active::after {
    background-color: #333;
}
.sw-theme-progress.sw-dark > .nav .nav-link.done {
    color: #fff !important;
}
.sw-theme-progress.sw-dark > .nav .nav-link.done::after {
    background: #333;
}
.sw-theme-progress.sw-dark > .nav .nav-link.disabled {
    color: #2b2b2b !important;
}
.sw-theme-progress.sw-dark > .nav .nav-link.disabled::after {
    background: #474747;
}
.sw-theme-progress.sw-dark > .nav .nav-link.danger {
    color: #fff !important;
}
.sw-theme-progress.sw-dark > .nav .nav-link.danger::after {
    background: #d9534f;
}

/* Advisi Teknis */
table#advisi_teknis {
    text-align: center;
    font-size: 16px;
}
.advisi-teknis-container {
    margin: 0 auto;
    padding: 0 40px 20px 40px;
}
th.month {
    padding: 5px !important;
}
#advisi_teknis thead {
    background: #f9cf00;
}
td.selected {
    background: #d99d00;
}

a.status_pelaksanaan {
    display: block;
    padding: 5px 20px;
    background: #5bc0de;
    width: 130px;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
}

a.aksi {
    display: block;
    padding: 5px 20px;
    background: #489ab3;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
}

a.jumlah_pendaftar {
    display: block;
    padding: 5px;
    background: #8bc34a;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.blank_row {
    height: 10px !important; /* overwrites any other rules */
    background-color: #ffffff;
}

/* Advisi Teknis */
table#advisi_teknis {
    text-align: center;
    font-size: 16px;
}
.advisi-teknis-container {
    margin: 0 auto;
    padding: 0 40px 20px 40px;
}
th.month {
    padding: 5px !important;
}
#advisi_teknis thead {
    background: #f9cf00;
}
td.selected {
    background: #d99d00;
}

a.status_pelaksanaan {
    display: block;
    padding: 5px 20px;
    background: #5bc0de;
    width: 130px;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
}

a.aksi {
    display: block;
    padding: 5px 20px;
    background: #489ab3;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
}

a.jumlah_pendaftar {
    display: block;
    padding: 5px;
    background: #8bc34a;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.blank_row {
    height: 10px !important; /* overwrites any other rules */
    background-color: #ffffff;
}

h4.status_at_detail {
    margin: 0 !important;
    padding: 7px 10px;
    text-transform: capitalize;
    font-size: 17px;
    background: #28a745;
    color: white;
    border-radius: 6px;
}
.btn-group.bootstrap-select select {
    width: 1px !important;
}

/* .was-validated :invalid ~ .invalid-feedback {
    display: block;
} */

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: var(--hijau);
    color: #000;
}
