<template>
    <div>
        <v-card class="mt-5" :disabled="loading">
            <v-card-title>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    class="sm:w-1/3 w-2/3"
                    single-line
                    hide-details
                ></v-text-field>
                <div class="sm:w-2/3 w-1/3">
                    <v-add v-if="user.level_id == 1"></v-add>
                </div>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="$store.state.Customer.data"
                :loading="loading"
                :items-per-page="5"
                class="elevation-1"
                :search="search"
            >
                <template v-slot:[`item.user.name`]="{ item }">
                    <v-avatar size="40px" color="primary" v-if="!item.logo">
                        <span class="white--text uppercase">{{
                            item.user.name[0] + item.user.name[1]
                        }}</span>
                    </v-avatar>
                    <v-avatar size="40px" v-else>
                        <v-img max-width="130" :src="item.logo"></v-img>
                    </v-avatar>
                    <span class="truncate">{{ item.user.name }}</span>
                </template>
                <template v-slot:[`item.id`]="{ item }">
                    <v-update :data="item" v-if="user.level_id == 2"></v-update>
                    <v-delete :data="item" v-if="user.level_id == 1"></v-delete>
                </template>
            </v-data-table>
        </v-card>
    </div>
</template>

<script>

export default {
    components: {},
    data() {
        return {
            search: "",
            loading: true,
            user: user,
            location: [-6.914316304571094, 107.60318756103517],
            headers: [
                { text: "Nama", value: "user.name" },
                { text: "Email", value: "user.email" },
                { text: "Nomor handphone", value: "phone_number" },
                { text: "Nomor whatapp", value: "nomor_wa" },
                { text: "Alamat", value: "alamat" },
                { text: "Action", sortable: false, value: "id" }
            ],
            data: []
        };
    },
    methods: {},
    created() {
        const vm = this;
        this.$store.dispatch("Customer/getData").then(result => {
            vm.loading = false;
        });
    }
};
</script>
