<template>
    <div class="pb-5">
        <v-row class="d-flex justify-center">
            <v-col cols="12" md="4" class="hidden sm:block">
                <v-skeleton-loader
                    class="mx-auto"
                    type="card"
                    v-if="loading"
                ></v-skeleton-loader>
            </v-col>
            <v-col cols="12" md="4" class="hidden sm:block">
                <v-skeleton-loader
                    class="mx-auto"
                    type="card"
                    v-if="loading"
                ></v-skeleton-loader>
            </v-col>
            <v-col cols="12" md="4" class="hidden sm:block">
                <v-skeleton-loader
                    class="mx-auto"
                    type="card"
                    v-if="loading"
                ></v-skeleton-loader>
            </v-col>
            <v-col cols="12" md="6" class="hidden sm:block">
                <v-skeleton-loader
                    class="mx-auto"
                    type="card"
                    v-if="loading"
                ></v-skeleton-loader>
            </v-col>
            <v-col cols="12" md="6" class="hidden sm:block">
                <v-skeleton-loader
                    class="mx-auto"
                    type="card"
                    v-if="loading"
                ></v-skeleton-loader>
            </v-col>
            <v-col cols="12" md="4">
                <v-alert
                    border="top"
                    colored-border
                    color="primary"
                    class="shadow"
                    v-if="!loading"
                >
                    <div class="text-center">
                        <p class="text-medium">Total Lab</p>
                        <p class="display-1 mb-0">
                            {{ $store.state.Dashboard.data.total_spk }}
                        </p>
                    </div>
                </v-alert>
            </v-col>
            <v-col cols="12" md="4">
                <v-alert
                    border="top"
                    colored-border
                    color="primary"
                    class="shadow"
                    v-if="!loading"
                >
                    <div class="text-center">
                        <p class="text-medium">Total Karyawan</p>
                        <p class="display-1 mb-0">
                            {{ $store.state.Dashboard.data.total_spk }}
                        </p>
                    </div>
                </v-alert>
            </v-col>
            <v-col cols="12" md="4">
                <v-alert
                    border="top"
                    colored-border
                    color="primary"
                    class="shadow"
                    v-if="!loading"
                >
                    <div class="text-center">
                        <p class="text-medium">Total Peralatan Lab</p>
                        <p class="display-1 mb-0">
                            {{ $store.state.Dashboard.data.total_spk }}
                        </p>
                    </div>
                </v-alert>
            </v-col>
            <!-- <v-col cols="12" md="4">
                <v-card class="mt-5" :disabled="loading">
                    <v-card-text>
                        <apexchart
                            width="330"
                            type="pie"
                            :options="chartOptions"
                            :series="series"
                        ></apexchart>
                    </v-card-text>
                </v-card>
            </v-col> -->
            <v-col cols="12">
                <v-card class="mt-5" :disabled="loading">
                    <v-card-title>
                        <div class="sm:w-2/3 w-1/3">
                            <p>Log Aktifitas</p>
                        </div>
                        <!-- <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Search"
                            class="sm:w-1/3 w-2/3"
                            single-line
                            hide-details
                        ></v-text-field> -->
                    </v-card-title>
                    <v-data-table
                        :headers="headers"
                        :items="list"
                        :loading="loading"
                        :items-per-page="5"
                        class="elevation-1"
                        :search="search"
                    >
                    </v-data-table>
                </v-card>
            </v-col>
        </v-row>

        <v-dialog v-model="detail" width="600">
            <v-card color="white">
                <v-card-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="detail = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text>
                    <pre>
                       {{ detailItem }}
                    </pre>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: true,
            detail: false,
            search: "",
            detailItem: "",
            headers: [
                { text: "Nama", value: "user.name" },
                { text: "Aktifitas", sortable: false, value: "id" },
                { text: "Time", value: "created_at" }
            ],
            headersPengujian: [
                { text: "Tanggal", value: "tanggal" },
                { text: "No spk", value: "no_spk" },
                { text: "Serial Number", value: "pengujian.serial_number" },
                { text: "Suplier", value: "suplier.name" },
                { text: "Customer", value: "pemesan.nama_pemesan" },
                { text: "Status Pekerjaan", value: "pengujian.status" },
                { text: "Status Review", value: "pengujian.status_review" }
                // { text: "Status", sortable: false, value: "id" }
            ],
            list: [],
            series: [1, 2, 3],
            chartOptions: {
                colors: ["#30cb00", "#fbaf39", "#e91d14"],
                chart: {
                    width: 330,
                    type: "pie",
                    horizontalAlign: "center"
                },
                legend: {
                    show: true,
                    position: "bottom"
                },
                labels: ["Finish good", "On progress", "Repair"],
                responsive: [
                    {
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: "bottom"
                            }
                        }
                    }
                ]
            },
            data: []
        };
    },
    created() {
        this.$store.dispatch("Dashboard/getData").then(result => {
            this.loading = false;
            // this.series = [
            //     result.data.data.total_finish_good,
            //     result.data.data.total_on_progress,
            //     result.data.data.total_repair
            // ];
        });
    },
    methods: {
        detailOpen(detail) {
            this.detail = true;
            this.detailItem = JSON.parse(detail);
        }
    }
};
</script>
