<template>
    <div>
        <p class="text-xl">Lab</p>
        <v-table></v-table>
    </div>
</template>

<script>
import VTable from "../components/Lab/Table.vue";

export default {
    components: {
        VTable
    }
};
</script>
