<template>
    <v-app style="color:#374774;">
        <v-navigation-drawer
            v-model="drawer"
            class="white shadow-xl"
            fixed
            app
            floating
        >
            <v-list nav dense>
                <v-list-item-group color="">
                    <v-list-item class="mb-5">
                        List
                    </v-list-item>
                    <template v-for="(item, i) in items">
                        <v-list-group
                            :prepend-icon="item.icon"
                            v-if="item.dropdowns"
                            :key="i"
                        >
                            <template v-slot:activator>
                                <v-list-item-title>{{
                                    item.title
                                }}</v-list-item-title>
                            </template>

                            <v-list-item
                                v-for="(dropdown, key) in item.dropdowns"
                                :key="key + '' + item.title"
                                link
                                :to="dropdown.to"
                                class="mb-3"
                            >
                                <v-list-item-action>
                                    <v-icon class="" size="8"
                                        >mdi-circle</v-icon
                                    >
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title
                                        class=""
                                        v-text="dropdown.title"
                                    />
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-group>
                        <template v-else>
                            <v-list-item
                                :key="i"
                                :to="item.to"
                                active-class="primary--text"
                                router
                                exact
                            >
                                <v-list-item-action>
                                    <v-icon class="">{{ item.icon }}</v-icon>
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title
                                        class=""
                                        v-text="item.title"
                                    />
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </template>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar app elevation="0">
            <v-toolbar fixed class="mt-5 white shadow-sm rounded">
                <v-app-bar-nav-icon @click.stop="menu" />
                <p class="mb-0 font-weight-bold">Setting Default</p>
                <v-spacer></v-spacer>
                <!-- <v-menu top :offset-x="true">
        <template v-slot:activator="{ on, attrs }">
          <v-badge color="orange" class="mr-5 mt-2" content="6">
            <v-btn class="text-none" small icon v-bind="attrs" v-on="on" text>
              <v-icon width="0">mdi-bell</v-icon>
            </v-btn>
          </v-badge>
        </template>

        <v-list>
          <v-list-item v-for="(item, index) in dropdowns" :key="index">
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu> -->

                <v-avatar size="40px" color="primary">
                    <span class="white--text uppercase text-xl">Default</span>
                </v-avatar>
                <v-menu top :offset-x="true">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn class="text-none" v-bind="attrs" text v-on="on">
                            Default
                        </v-btn>
                    </template>

                    <v-list>
                        <!-- <v-list-item @click="logout">
                            <v-list-item-title @click="logout"
                                >Logout</v-list-item-title
                            >
                            <form
                                id="logout-form"
                                action="/logout"
                                method="POST"
                                class="d-none"
                            >
                                <input
                                    type="hidden"
                                    name="_token"
                                    :value="csrf"
                                />
                            </form>
                        </v-list-item> -->
                    </v-list>
                </v-menu>
            </v-toolbar>
        </v-app-bar>
        <v-main>
            <v-container fluid class="px-8 py-8">
                <slot></slot>
            </v-container>
            <v-footer class="text-center d-block white" absolute>
                <span
                    >Copyright &copy;
                    <a href="https://makerindo.com/" target="_blank"
                        >Makerindo</a
                    >
                    {{ new Date().getFullYear() }}
                </span>
            </v-footer>
        </v-main>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            drawer: true,
            csrf: document
                .querySelector('meta[name="csrf-token"]')
                .getAttribute("content"),
            admins: [
                ["Management", "mdi-account-multiple-outline"],
                ["Settings", "mdi-cog-outline"]
            ],
            items: [
                {
                    icon: "mdi-view-dashboard-outline",
                    title: "Dashboard",
                    to: "/back-end",
                    level: ["1", "2", "3"]
                },
                {
                    icon: "mdi-map-legend",
                    title: "Mapping",
                    dropdowns: [
                        {
                            title: "Data Lab",
                            to: "/back-end/lab",
                        },
                    ],
                },
            ],

            dropdowns: [
                { title: "Click Me" },
                { title: "Click Me" },
                { title: "Click Me" },
                { title: "Logout" }
            ]
        };
    },
    computed: {
        appBar() {
            switch (this.$vuetify.breakpoint.name) {
                case "xs":
                    return true;
                case "sm":
                    return false;
                case "md":
                    return false;
                case "lg":
                    return false;
                case "xl":
                    return false;
            }
        }
    },
    methods: {
        async logout() {
            // document.getElementById("logout-form").submit();
        },
        menu() {
            switch (this.$vuetify.breakpoint.name) {
                case "xs":
                    return (this.drawer = !this.drawer);
                case "sm":
                    return (this.drawer = !this.drawer);
                case "md":
                    return (this.drawer = !this.drawer);
                case "lg":
                    return (this.drawer = !this.drawer);
                case "xl":
                    return (this.drawer = !this.drawer);
            }
        }
    },
    mounted() {}
};
</script>
